services:
  frontend-prod:
    image: ghcr.io/matthias-gousseau/stockmanager-frontend:latest
    container_name: stockmanager-frontend-prod
    restart: always
    ports:
      - "4200:4200"
    environment:
      - NODE_ENV=production
      - API_URL=http://localhost:8080/api
    depends_on:
      - backend-prod
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:4200"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  backend-prod:
    image: ghcr.io/matthias-gousseau/stockmanager-backend:latest
    container_name: stockmanager-backend-prod
    restart: always
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - DATABASE_URL=jdbc:postgresql://db-prod:5432/stockmanager_db_prod
      - DATABASE_USER=${DB_USER_PROD}
      - DATABASE_PASSWORD=${DB_PASSWORD_PROD}
      - JWT_SECRET=${JWT_SECRET_PROD}
    depends_on:
      db-prod:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s

  db-prod:
    image: postgres:16
    container_name: postgres-stockmanager-prod
    ports:
    - "5432:5432"
    restart: always
    environment:
      POSTGRES_DB: stockmanager_deb_prod
      POSTGRES_USER: ${DB_USER_PROD}
      POSTGRES_PASSWORD: ${DB_PASSWORD_PROD}